body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Segoe UI', sans-serif;
}

header{
    background-color: #006D77;
    color: antiquewhite;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    text-align: center;
    background: #006D77;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

    .a {
    width: 120px;
    height: 60px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    background-color: darkgrey;
    border-radius: 8px;
    transition: 0.3s;
}
    .a:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    main{
        padding: 60px 40px;
        text-align: center;
    }

    .hero{
        max-width: 800px;
        margin: 0 auto;
    }

    .hero h2{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .hero p{
        font-size: 18px;
        color: #444;
    }

    .cta a{
        background: #83C5BE;
        color: #fff;
        padding: 15px 25px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
