body{
    background-color: whitesmoke;

.header{
    background-color: lightgoldenrodyellow;
}

.button {
    width: 150px;
    height: 80px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    background-color: darkgrey;
    border-radius: 8px;
    transition: 0.3s;
}
    .button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

}