<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kailua CarRental</title>
    <link rel="stylesheet" th:href="@{/css/Stylesheet.css}">
</head>
<body>
<header>
    <h1>Kailua Biludlejning</h1>
    <a> Hjem </a>
    <a> Om os </a>
    <a> Vores biler</a>
    <a> Kontakt </a>
</header>
<main>
    <div class="hero">
        <h2> Find den perfekte bil til dit næste eventyr </h2>
        <p> Unaset om du skal på ferie, hente familien eller cruise langs kysten -
        vi har bilen til dig. </p>
    </div>
    <div class="cta">
        <a href="/Voresbiler/VoresBiler"> Se vores udvalg her </a>
    </div>
</main>

<footer>
    &copy; 2025 Kailua CarRental. Alle rettigheder forbeholdes.
</footer>


</body>
</html>